.DS_Store
.env
.env*
.expo
.tamagui
.yarn/*
**/.terraform/*
/android
/ios
dist
node_modules
routes.d.ts
tamagui.css
tmp
tsconfig.tsbuildinfo
yarn-debug.log
yarn-error.log
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions